* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: pink;
  }
    body {
        color: black;
        font-family: Helvetica, Arial, sans-serif;
    }
  
    header {
        padding: 20px 35px;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: black;
        position: -webkit-sticky;
        position: sticky;
        top: 0; 
        background-size: cover;
        background-position: center;  
        background-attachment: fixed;
        background-position: 80%;
        z-index: 9999;
        border-radius: 10px;
    }
  
    header h1 {
      font-weight: bold;
      font-size: 36px;
      color: whitesmoke;
      margin: 0
      display: flex;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  
    header a {
      text-decoration: none;
      color: white;
    }
  
    header nav {
      margin: 7px 0;
    }
  
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }
  
    header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.55vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  
    header nav ul li a:hover {
      background: pink;
      color: white;
      border-radius: 15px;
      text-shadow: none;
    }

    .hero {
        height: 800px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../images/hero.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 10px;
      }

      .content div {
        margin-bottom: 20px;
        padding: 50px;
        height: 150px;
        font-family: Helvetica, Arial, sans-serif;
        background-color: black;
        color: white;
        border-radius: 10px;
    }
    
    .content img {
        max-height: 200px;
    }
    
    .content h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }

    .my-applications {
        
    }